Repository DataDog/datadog-cloudfoundry-buildpack, pull requests merged in 2022-11, with the labels that each got.

#141 Bump agent version to 7.40.1
  build
Labels: changelog/Added

#143 Set hostname to container hostname when 'DD_ENABLE_CHECKS' is enabled
  lib/run-datadog.sh
Labels: changelog/Added

#140 Fix `KeyError` in create_logs_config python script
  lib/scripts/create_logs_config.py
Labels: changelog/Fixed

#136 Add support for CAPI metadata and DCA tags injection
  bin/compile
  bin/supply
  build
  lib/dist/datadog.yaml
  lib/run-datadog.sh
  lib/scripts/get_tags.py
  lib/scripts/update_agent_config.sh
  lib/scripts/update_agent_config_restart.sh
  lib/scripts/utils.sh
Labels: changelog/Added

#142 Release 4.34.0
  CHANGELOG.md
Labels: documentation, changelog/no-changelog
